{% extends 'localapp/base.html' %}
{% load bootstrap4 %}

{% block head %}
    {{ block.super}}
    
    {% block title %}
        <title>Get Protocol</title>
    {% endblock %}

{% endblock %}

{% block body %}

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 text-center">
                <br>
                <br>
                <u><h1>Protocolos</h1></u>
                <br>
                <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Orden</th>
                        <th scope="col">Ejecución</th>
                        <th scope="col">Agregar</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for protocolo in protocolos %}
                      <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td> {{ protocolo.nombre }} </td>
                        <td> {{ protocolo.status }} </td>
                        <td> {{ protocolo.orden }} </td>
                        <td> {% if protocolo.es_local == True %} Local {% else %} Remoto {% endif %} </td>
                        <td><i class="fa fa-plus" aria-hidden="true"></i></td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
    {% block scripts %}
        {{ block.super }} 
    {% endblock %}

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

{% endblock %}
