{% extends 'localapp/base.html' %}
{% load bootstrap4 %}

{% block head %}
    {{ block.super}}
    
    {% block title %}
        <title>Index</title>
    {% endblock %}

{% endblock %}

{% block body %}
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form method="POST" > {% csrf_token %}
                    <u><h3>Proyecto</h3></u>
                    {% bootstrap_form formProyecto %} 
                    <u><h3>Protocolos</h3></u>  
                    <div id="buildyourform">
                    </div>
                    <br>
                    <input type="button" value="Add a field" class="btn btn-primary" id="add" />
                    <br>
                    <br>
                    {% buttons %}
                        <button type="submit" class="btn btn-primary">Submit</button>
                    {% endbuttons %}                    
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
    <!-- Jquery JS-->

    {% block scripts %}
        {{ block.super }} 


        <script>
                $(document).ready(function() {
        $("#add").click(function() {
                var lastField = $("#buildyourform div:last");
            var intId = (lastField && lastField.length && lastField.data("idx") + 1) || 1;
            var fieldWrapper = $("<div class=\"fieldwrapper\" id=\"field" + intId + "\"/>");
            fieldWrapper.data("idx", intId);
            var fName = $("<label>Name</label><input type=\"text\" class=\"form-control\" />");
            var fOrden = $("<br><label>Orden</label><input type=\"text\" class=\"form-control\" />");
            var es_local = $("<br><label>Es local</label><input style=\"width:20px;\" class=\"form-control\" type=\"checkbox\"/>");
            var removeButton = $("<br><input  type=\"button\" class=\"btn btn-danger\" value=\"Quitar\" />");
            removeButton.click(function() {
                $(this).parent().remove();
            });
            fieldWrapper.append($("<hr>"))
            fieldWrapper.append($("<h3> Protocolo"+intId+"</h3>"))
            fieldWrapper.append(fName);
            fieldWrapper.append(fOrden)
            fieldWrapper.append(es_local);
            fieldWrapper.append(removeButton);
            $("#buildyourform").append(fieldWrapper);
        });
        $("#preview").click(function() {
            $("#yourform").remove();
            var fieldSet = $("<fieldset id=\"yourform\"><legend>Your Form</legend></fieldset>");
            $("#buildyourform div").each(function() {
                var id = "input" + $(this).attr("id").replace("field","");
                var label = $("<label for=\"" + id + "\">" + $(this).find("input.fieldname").first().val() + "</label>");
                var input;
                switch ($(this).find("select.fieldtype").first().val()) {
                    case "checkbox":
                        input = $("<input type=\"checkbox\" id=\"" + id + "\" name=\"" + id + "\" />");
                        break;
                    case "textbox":
                        input = $("<input type=\"text\" id=\"" + id + "\" name=\"" + id + "\" />");
                        break;
                    case "textarea":
                        input = $("<textarea id=\"" + id + "\" name=\"" + id + "\" ></textarea>");
                        break;    
                }
                fieldSet.append(label);
                fieldSet.append(input);
            });
            $("body").append(fieldSet);
        });
    });

        </script>
    {% endblock %}

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

{% endblock %}


