{% extends 'localapp/base.html' %}
{% load bootstrap4 %}

{% block head %}
    {{ block.super}}
    
    {% block title %}
        <title>List Protocol</title>
    {% endblock %}

{% endblock %}

{% block body %}

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 text-center">
                <br>
                <br>
                <u><h1>Proyectos</h1></u>
                <br>
                <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Nombre Persona</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Iniciar</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Proyecto_1</td>
                        <td>Julian</td>
                        <td>En espera</td>
                        <td><i class="fa fa-play" aria-hidden="true"></i></td>
                      </tr>
                      <tr>
                        <th scope="row">1</th>
                        <td>Proyecto_1</td>
                        <td>Julian</td>
                        <td>En espera</td>
                        <td><i class="fa fa-play" aria-hidden="true"></i></td>
                      </tr>
                      <tr>
                        <th scope="row">1</th>
                        <td>Proyecto_1</td>
                        <td>Julian</td>
                        <td>En espera</td>
                        <td><i class="fa fa-play" aria-hidden="true"></i></td>
                      </tr>
                    </tbody>
                  </table>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
    {% block scripts %}
        {{ block.super }} 
    {% endblock %}

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

{% endblock %}
