{% extends 'localapp/base.html' %}
{% load bootstrap4 %}


{% block head %}
    {{ block.super}}
    {% block title %}
        <title>Login</title>
    {% endblock %}

{% endblock %}

{% block body %}

<div id="content-container" class="container p-none">
  <div class="lgn-container col-lg-8">
    <form method="POST" action="/login" > {% csrf_token %}
        <div class="form-group">
            <label for="id_username">Username</label>
            <input id="id_username" name="username" type="text" class="form-control">
            <label for="id_password">Password</label>
            <input id="id_password" name="password" type="password" class="form-control">
            <input type="submit" value="Login" class="btn btn-primary pull-right" />
        </div>
    </form>
  </div>
</div>

  {% block scripts %}
    {{ block.super }} 
  {% endblock %}

{% endblock %}