{% extends 'localapp/base.html' %}
{% load bootstrap4 %}


{% block head %}
    {{ block.super}}
    {% block title %}
        <title>Login</title>
    {% endblock %}
 
{% block nav %}

{% endblock %}

{% endblock %}

{% block body %}

<br>
<br>
<br>
<br>
<div class="container">
  <div class="text-center">
    <u><h1> Login </h1></u>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <form id="login-form" method="POST" action="{% url "login" %}">
            {% csrf_token %}
              <label for="id_username">Username</label>
              <input id="id_username" name="username" type="text" class="form-control">
              <label for="id_password">Password</label>
              <input id="id_password" name="password" type="password" class="form-control"></td>
            {% if form.errors %}
            <p class=" label label-danger">
              Your username and password didn't match.
              Please try again.
            </p>
            {% endif %}
            <br>
            <input type="submit" value="Login" class="btn btn-primary pull-right" />
            <input type="hidden" name="next" value="{{ next }}" />
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>

  {% block scripts %}
    {{ block.super }} 
  {% endblock %}

{% endblock %}