{% extends 'localapp/base.html' %}
{% load bootstrap4 %}

{% block head %}
    {{ block.super}}
    
    {% block title %}
        <title>List Protocol</title>
    {% endblock %}

{% endblock %}

{% block body %}

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 text-center">
                <br>
                <br>
                <u><h1>Ejecucion de protocolo</h1></u>
                <br>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="tarea1" name="tarea1" value="tarea1">
                        <label class="form-check-label" for="tarea1">Tarea1</label>
                      </div>
                      <br>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="tarea2" name="tarea2" value="tarea2">
                        <label class="form-check-label" for="tarea2">Tarea 2</label>
                      </div>
                      <br>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="tarea3" name="tarea3" value="tarea3">
                        <label class="form-check-label" for="tarea3">Tarea 3</label>
                      </div>
                      <br>
                    <form method="POST"> {% csrf_token %}
                        {% bootstrap_form form %} 
                        {% buttons %}
                            <button type="submit" class="btn btn-primary">Submit</button>
                        {% endbuttons %}  
                    </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
    {% block scripts %}
        {{ block.super }} 
    {% endblock %}

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

{% endblock %}
