{% extends 'localapp/base.html' %}
{% load bootstrap4 %}

{% block head %}
    {{ block.super}}
    
    {% block title %}
        <title>List Protocol</title>
    {% endblock %}

{% endblock %}

{% block body %}

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 text-center">
                <br>
                <br>
                <u><h1>Elija una opcion debido al error en el proyecto {{ proyecto.nombre }} </h1></u>
                    <form method="POST" action="/selectOption/{{proyecto.id}}"> 
                        <div class="form-group">
                            <select class="form-control" name="select" id="select">
                              <option value="reset">Reiniciar</option>
                              <option value="continue">Continuar</option>
                              <option value="canceled" >Cancelar</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
    {% block scripts %}
        {{ block.super }} 
    {% endblock %}

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

{% endblock %}
