{% extends 'localapp/base.html' %}
{% load bootstrap4 %}

{% block head %}
    {{ block.super}}
    
    {% block title %}
        <title>Get Protocol</title>
    {% endblock %}

{% endblock %}

{% block body %}

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <br>
                <br>
                <u><h1>Tareas {{state}} </h1></u>
                <br>
                <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Descripción</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for j in json %}
                      <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td> {{ j.name }} </td>
                        <td> {% if state == "finalizadas" %} Finalizada {% else %} fallida {% endif %} </td>
                        <td> {{ j.description }} </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
            </div>

        </div>
    </div>
    {% block scripts %}
        {{ block.super }} 
    {% endblock %}

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

{% endblock %}
